:root {
  --color-bg: #F0F4F8;
  --color-primary: #008BFE;
  --color-primary-hover: #006FCB;
  --color-text: #222222;
  --color-text-card: #000000;
  --color-white: #FFFFFF;
  --color-stroke: #CCE8FF;
  --font: "Roboto", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  padding-left: 62px;
  padding-right: 62px;
}